@using MyPortfolio.Services
@using System.Net.Http.Json
@using HtmlAgilityPack;


@inject ContentService ContentService

@page "/blogpost/{name}"


<MudContainer style="max-width: 800px; padding:  0;" Class="pt-3">
	<MudGrid>
		<MudItem style="padding: 0;">
			@if (Post != null)
			{
				<MudText Typo="Typo.h1" style="font-weight: 900;">@Post.Title</MudText>
				<div>
					<div style="display: flex; justify-content: space-between; align-items: center;">
						<MudText Typo="Typo.body2">@Post.CommitDate</MudText>
						<MudDivider Class="mx-2" style="width: 50px;" />
						<MudAvatar Style="vertical-align: middle;">
							<MudImage Src="images/profile-picture.webp" Alt="An image of the best dog ever!" />
						</MudAvatar>
					</div>
				</div>
				@foreach (var tag in Post.Tags!)
				{
					<MudChip T="string" Variant="Variant.Text" Color="Color.Secondary" class="mb-3">@tag</MudChip>
				}
				<MudText Typo="Typo.body1">@((MarkupString)(Post.Content ?? ""))</MudText>
			}
			else
			{
				<MudProgressCircular Class="mt-5 justify-center" Color="Color.Primary" Indeterminate="true" />
			}
		</MudItem>
	</MudGrid>
	<MudItem>
		<MudButton Href="/blog" typo="typo.Button" Variant="Variant.Outlined" Color="Color.Primary"
			Class="my-5 rounded-pill">
			<MudIcon Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary" Size="Size.Small" />
			Back
		</MudButton>
	</MudItem>
</MudContainer>

<style>
	p>img {
		max-width: 100%;
		height: auto;
		padding: 1rem 0;
	}
</style>

@code {

	[Parameter]
	public string Name { get; set; } = "";
	public ContentService.GitHubFile? Post;
	private readonly HttpClient Http = new HttpClient();

	protected override async Task OnInitializedAsync()
	{

		Post = await Http.GetFromJsonAsync<ContentService.GitHubFile>($"{ContentService.baseApiUrl}/blogpost/{Name}.md") ?? new
		ContentService.GitHubFile();

		if (Post != null)
		{
			Post.Content = Post.Content != null ? ContentService.ParseMarkdownToHtml(Post.Content) : "Error loading content";

			var doc = new HtmlDocument();
			doc.LoadHtml(Post.Content);

			Post.CommitDate = DateTime.Parse(Post.CommitDate!).ToLocalTime().ToString("yyyy/MM/dd");


			ContentService.ExtractTags(Post, doc);
		}
		else
		{
			Post = new ContentService.GitHubFile();
		}
	}
}