@page "/BlogpostTeaser"

@using System.Net.Http
@using System
@using MyPortfolio.Themes
@using MyPortfolio.Services

@inject IConfiguration Configuration
@inject HttpClient Http
@inject ContentService ContentService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager


<MudCard Outlined="true" class="rounded-xl" Style="@($"background-color: {backgroundColor}; height:100%;")"
	Elevation="4">
	<MudCardMedia Image="@ImageUrl" Height="250" />
	<MudCardHeader>
		<CardHeaderContent>
			<MudText Typo="Typo.h2">@Title</MudText>
			<MudText Typo="Typo.body2">@EditDate</MudText>
		</CardHeaderContent>
	</MudCardHeader>
	<MudCardContent style="">
		<MudText Typo="Typo.body2">@TeaserContent</MudText>
	</MudCardContent>
	<a href="/blogpost/@Title" class="pl-5">
		<MudText class="grow-on-hover" Typo="Typo.body1" Color="Color.Primary">Read more...</MudText>
	</a>
	<MudCardActions>
		<div>
			<MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" @onclick=HandleShare>
			</MudIconButton>
		</div>
		@if (Tags != null)
		{
			@foreach (var tag in Tags)
			{
				<MudChip T="string" Variant="Variant.Text" Color="Color.Secondary">@tag</MudChip>
			}
		}
	</MudCardActions>
</MudCard>

<style>
	.grow-on-hover {
		position: relative;
		display: inline-block;
	}

	.grow-on-hover::after {
		content: '';
		position: absolute;
		width: 0;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: currentColor;
		transition: width 0.25s ease-out;
	}

	.grow-on-hover:hover::after {
		width: 100%;
	}
</style>

@code {
	private string? color;
	private string? backgroundColor;
	[Parameter]
	public List<string>? Tags { get; set; }
	[Parameter]
	public string? ImageUrl { get; set; }
	[Parameter]
	public string? Title { get; set; } = "Title";
	[Parameter]
	public string? EditDate { get; set; }
	[Parameter]
	public MarkupString TeaserContent { get; set; }
	[CascadingParameter]
	public Palette? currentPalette { get; set; }


	protected override void OnParametersSet()
	{
		// Ensure the component re-renders when currentPalette changes
		base.OnParametersSet();
		StateHasChanged();


		color = currentPalette?.TextPrimary.ToString();
		backgroundColor = currentPalette?.Tertiary.ToString();

	}

	private async Task HandleShare()
	{
		string baseUrl = NavigationManager.BaseUri + "blogpost/";

		await JSRuntime.InvokeVoidAsync("shareContent", Title, "Check out this post.", baseUrl + Title);
	}

}